  /* reset */
html, body { 
  line-height: 1;
  padding: 0; 
  margin: 0; 
  } 
  p,h1,h2,h3,h4 { 
  vertical-align: baseline; 
  font-weight: inherit; 
  font-family: inherit; 
  font-style: inherit; 
  padding: 0; 
  margin: 0; 
  } 
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* border-box*/
*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;  
  box-sizing: border-box;   
}
/* clear both */
.clearfix:after,.clearfix:before, 
.section:after,.section:before {
	content: "";
	display: table;
}
.clearfix:after,.section:after{
	clear: both;
}
input,button {
  outline:none;
  font-weight: bolder;
  color: #68608E;
}
  /* end reset */
body { 
font-family: 'Open Sans';
background-color: white;
}
a {
 text-decoration: none; 
 color: white; 
}
/* h/p */
h1 { font-size: 36px;font-family: 'Open Sans';}
h2 { font-size: 28px;font-family: 'Open Sans';}
h3 { font-size: 22px;font-family: 'Open Sans';}
h4 { font-size: 18px;font-family: 'Open Sans';}
h5 { font-size: 16px;font-family: 'Open Sans';}
p  { font-family: 'Open Sans';}
/* sec 1 */
.header {
  margin: 0 auto;
  height: 775px;
  width: 1340px;
  background: url(../img/header4.jpg) no-repeat;
  background-size: 100% 100%;
  border-bottom: 2px solid black;
}
.violet-text {
text-align: center;
font-weight: bolder;
color:#9E70B6;
}
.contacts {
  float: right;
  width: 400px;
  height: 100%;
  border: 0px solid grey;
  margin-top: 100px;
}
.input-text {
padding-left: 25px;
margin-top: 10px;
color:black; 
opacity: 0.3;    
font-weight: bolder;
}
.form-input {
  border-bottom: 3px solid #F3F3F3;
  border-top: 1px solid #F3F3F3;
  border-left: 1px solid #F3F3F3;
  border-right: 2px solid #F3F3F3;
  border-radius: 10px;
  width: 85%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.form-input:focus {
  background-color: #FFFBE4;
  opacity: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.enter {
  border-radius: 10px;
  background-color: #981818;  
  width: 90%;
  height: 45px;
  margin-top: 15px;
  font-weight: bolder;
  color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.enter:hover {
  background-color: #5A84BF;
  color: white;
  }
.social {
  margin-top: 20px;
}
.soc-h2 {
  text-align: center;
  font-weight: bolder;
  color: #FFC17F;
  margin-top: 20px;
  margin-bottom: 10px;
}
.soc-icon {
  opacity: 0.9;
  text-align: center;
  color: grey;
  font-weight: bolder;
  float: left;
  margin-right: 22px;
}
.soc-pic {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.soc-pic:hover {
  -moz-transform: rotate(360deg); /* Для Firefox */
  -ms-transform: rotate(360deg); /* Для IE */
  -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(360deg); /* Для Opera */
  transform: rotate(360deg);
}
/* sec 2 */
.cont {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  margin-top: 100px;
}
.cont-h1{
  width: 1200px;
  height: 100%;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bolder;
}
.woman {
  float: left;
  width: 50%;
  height: 350px;
  background: url(../img/woman.jpg) no-repeat;
  background-size: 100% 100%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.man {
  float: left;
  width: 50%;
  height: 350px;
  background: url(../img/man.jpg) no-repeat;
  background-size: 100% 100%;
}
.clothes-info {
  margin: 0 auto;
  width: 80%;
  height: 1px;
  visibility: hidden;
  margin-top: 100px;
  background-color: black;
  text-align: center;
  color: white;
  opacity: 0.8;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.woman:hover .clothes-info {
  visibility: visible;
  height: 100px;
  padding-top: 20px;
  border-radius: 20px;
}
.man:hover .clothes-info {
  visibility: visible;
  height: 100px;
  padding-top: 20px;
  border-radius: 20px;
}
.bramd-img {
  margin-top: 20px;
  width: 400px;
  height: 45px;
}
/* sec 3 */
.kid-h1 {
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 40px;
  width: 1340px;
  background-color: white ;
  text-align: center;
  border-bottom: 2px solid #333; 
}
.kid {
  margin: 0 auto;
  height: 100%;
  width: 1340px;
  background-color: #333 ;
  background: url(../img/kid3.jpg) no-repeat;
  background-size: 100% 100%;
}
.grey {
  opacity: 0.9;
  font-weight: bolder;  
  color: black;
}
.percent {
  font-size: 38px;
  color: #E73209;
}
.disc {
  color: white;
  -webkit-text-stroke: 1px black;
}
/* toys  */
.toys {
  float: left;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 180px;
  margin-bottom: 180px;
  height: 100%;
  width: 50%;
  text-align: center;
  color: #FEFB66 ;
  background-color: black;
  opacity: 0.9;
}
.info-toys {
  padding-top: 60px; 
  padding-left: 40px; 
  text-align: left;
}
.toys-img {
  float: right;
  margin-right: 20%;
  margin-top: 50px;  
  width: 140px;
  height: 120px; 
}
.nav-st:hover {
  color: #E9F588;
  font-weight: bolder;
}
.nav-st:hover:after {
  content: "";
  margin-left: 60px;
  display: inline-block;
  background: url(../img/70.gif) no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 25px;
  color: black;
}
/* school  */
.school {
  float: left;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 180px;
  margin-bottom: 180px;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #99FFF9 ;
  background-color: black;
  opacity: 0.9;
}
.info-school {
  padding-top: 60px; 
  padding-left: 40px; 
  text-align: left;
}
.school-img {
  float: right;
  margin-right: 20%;
  margin-top: 50px;
  width: 140px;
  height: 120px;  
}
.school-pic {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.nav-st2:hover {
  color: #6FD7EF;
  font-weight: bolder;
}
.nav-st2:hover:after {
  content: "";
  margin-left: 60px;
  display: inline-block;
  background: url(../img/70.gif) no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 25px;
  color: black;
}
.kid-icon {
  width: 60px;
  height: 60px;
}
/* sec 4 */
.stock {
  margin: 0 auto;
  width: 1340px;
  height: 280px;
  padding-top: 180px;
  padding-bottom: 140px;
  background: url(../img/other4.jpg) no-repeat;
  background-size: 100% 100%;
  font-weight: bolder;
  color: white ;
  text-align: center;
}
.stock-h1 {
  font-size: 36px;
  color: white; 
  font-weight: bolder; 
}
.stock-h2 {
  color: white;  
}
.counter {
  margin: 0 auto;
  width: 680px;
  font-size: 22px;
  margin-top: 40px;
}
.count {
  float: left;
  background-color: #D5F4F0;
  color: #4754A5;
  border: 10px solid #765A93; 
  width: 80px;
  height: 100%;
  margin-right: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
}
.numbers {
  font-size: 46px;
  color: #0B165E;
}
/* sec 5 */
.contact {
  background-color: #8792C7;
  border-top: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
.map {
  width: 1340px;
  height: 350px;
}
.footer {
  width: 1340px;
  margin: 0 auto;
}
.footer-info {
  background-color: #8792C7;
  text-align: center;
  height: 100%;
  width: 1340px;
  color: white;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
}
.col-md-4 {
  width: 33%;
  float: left;
}
.contact-pic {
  width: 1200px;
  margin-left: 15px;
  width: 45px;
  height: 35px;
  padding-top: 5px;
}

.hidden{
opacity:0;
}
.visible{
opacity:1;
}